<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-2 pb-3">
        <img src="https://via.placeholder.com/150" class="rounded img-thumbnail" alt="...">
      </div>
      <div class="col-sm-4 col-lg-6 pb-3">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
          <li class="list-item"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
      <div class="col-sm-8 text-sm-right col-lg-8 pb-3">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>