{{ define "main" }}
<section class="section">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center pb-3">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-10 col-xl-10 text-center">
      <p class="lead">{{ .Params.Lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://butterops.slack.com" role="button">Join Our
        Community</a>
      <p class="meta">Open-sourced <a href="">products</a> and free <a href="">newsletter</a> for you.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<!-- <div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div> -->

<section class="section" style="">
  <div class="container">
    <h2 class="text-center pb-3">Already working on your idea?</h2>
    <div class="row justify-content-center text-center">
      <div class="col-sm-10 col-md-7 col-lg-6 ">
        <h2 class="h4">Kickstart</h2>
        <p>
          Get A+ scores on out of the box. Easily change the default Security Headers to suit your needs.
        <p>
        </p><a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Make your MVP →</a></p>
      </div>
      <div class="col-sm-10 col-md-7 col-lg-6">
        <h2 class="h4">Grow</h2>
        <p>Get 100 scores on Google Lighthouse by default. Doks removes unused css, prefetches.</p>
        </p><a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Create your audience →</a></p>
      </div>
      <div class="col-sm-10 col-md-7 col-lg-6">
        <h2 class="h4">Sustain</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to.</p>
        </p><a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Use NoCode and NoOps →</a></p>
      </div>
      <div class="col-sm-10 col-md-7 col-lg-6">
        <h2 class="h4">Earn</h2>
        <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO.</p>
        </p><a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Getting first few users →</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section">
  <div class="container">
    <h2 class="text-center">We are your A-Team</h2>
    <div class="row justify-content-center text-center">
      <!-- <div class="col-sm-14 col-lg-12 mt-3">
        <img src="https://via.placeholder.com/1280x720" class="img-fluid" alt="Responsive image">
      </div>   -->
      <div class="col-sm-14 col-lg-10 mt-3">
        <p class="lead">Use the community and its resources for what you can't do yourslef.
        </p>
        <a class="btn btn-primary  btn-lg px-3"
          href="https://app.netlify.com/start/deploy?repository=https://github.com/h-enk/doks" role="button">Venture
          Your Idea</a>
      </div>
    </div>
  </div>
</section>


<!-- <section class="section section-sm mt-n3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <h2 class="h3 mt-3 text-center">Doks Showcase</h2>
        <div class="card-list">
        {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "showcase")  -}}
        <div class="card bg-light">
          <div class="card-body">
            <h3 class="lead text-center"><a class="stretched-link text-body" href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
          </div>
        </div>        
        {{ end -}}
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="d-flex justify-content-end">
  <div class="bg-dots bg-dots-md"></div>
</div>


<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-14 col-lg-12">
        <h2 class="mt-3 text-center">Featured Stories From the Community</h2>
        <div class="card-list">
          {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "stories") -}}
          <div class="card">
            <!-- <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap"> -->
            <div class="card-body">
              <h3><a class="stretched-link text-body" href="{{ .Permalink }}">{{ .Params.title }}</a></h3>
              <p>{{ .Params.lead | safeHTML }}</p>
              {{ partial "main/blog-meta.html" . -}}
            </div>
          </div>
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9 pt-3">
      {{- .Content -}}
    </div>
  </div>
</section>

{{ end }}